{% load static %}

<li>
    <article class="post">
    <a href="{% url "post-detail-page" slug="mountain-hiking" %}">
        <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking" />
        <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
            There is something magical about hiking in the mountains. The
            fresh air, the stunning views, and the sense of accomplishment
            make it a truly rewarding experience.
        </p>
        </div>
    </a>
    </article>
</li>